<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Timestamp API
        </title>
        <meta
            name="description"
            content="Timestamp API Usage">
        <meta
            name="author"
            content="santiagomorad">
        <link
            rel="stylesheet"
            href="bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <script
            type="text/javascript"
            src="jquery/jquery.min.js"></script>
        <script
            type="text/javascript"
            src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <div
            class="container-fluid"
            style="padding-top:5%">
            <div
                class="row">
                <div
                    class="offset-md-2 col-md-8">
                    <h1>
                        FCC Timestamp API
                    </h1>
                    <h2>
                        Endpoints:
                    </h2>
                    <hr>
                    <div class="container-fluid" style="padding:0px">
                        <div class="row">
                            <div class="col-md-6">
                                <code>/api/timestamp/{unix-epoch-timestamp}</code>
                            </div>
                            <div class="col-md-6">
                                <code>unix-epoch-timestamp: <br>Valid unix epoch timestamp [Integer]</code>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <code>/api/timestamp/{date}/{format}</code>
                            </div>
                            <div class="col-md-6">
                                <code>date: [int,2]-[int,2]-[int,4] [String] </code>
                                <br>
                                <code>format: d-m-y [String, case insensitive] </code>
                                <hr>
                                <code>date: [int,2]-[int,2]-[int,4] [String]</code>
                                <br>
                                <code>format: m-d-y [String, case insensitive] </code>
                                <hr>
                                <code>date: [int,2]-[int,2]-[int,4] [String] </code>
                                <br>
                                <code>format: m-d-y [String, case insensitive] </code>
                                <hr>
                                <code>date: [int,4]-[int,2]-[int,2] [String]</code>
                                <br>
                                <code>format: y-m-d [String, case insensitive] </code>
                                <hr>
                                <code>date: [int,4]-[int,2]-[int,2] [String]</code>
                                <br>
                                <code>format: y-d-m [String, case insensitive] </code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
