<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            FCC APIs
        </title>
        <meta
            name="description"
            content="FCC APIs usage">
        <meta
            name="author"
            content="santiagomorad">
        <link
            rel="stylesheet"
            href="bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <script
            type="text/javascript"
            src="jquery/jquery.min.js"></script>
        <script
            type="text/javascript"
            src="bootstrap/js/bootstrap.bundle.min.js"></script>
        <div
            class="container-fluid"
            style="padding-top:5%;margin-bottom:5%;">
            <div
                class="row">
                <div
                    class="offset-md-2 col-md-8">
                    <h1>
                        FCC APIs usage
                    </h1>
                    <h2>
                        FCC Timestamp API
                    </h2>
                    <h3>
                        Endpoints:
                    </h3>
                    <hr>
                    <div class="container-fluid" style="padding:0px">
                        <div class="row">
                            <div class="col-md-12">
                                <code><strong>/api/timestamp/{unix-epoch-timestamp}</strong></code>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <code><strong>unix-epoch-timestamp:</strong> <br>Valid unix epoch timestamp [Integer]</code>
                                <div>returns date considering {unix-epoch-timestamp} as the timestamp</div>
                            </div>
                            <div class="col-md-6">
                                <code><strong>unix-epoch-timestamp:</strong> <br>Empty</code>
                                <div>returns current date</div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <code><strong>/api/timestamp/{date}/{format}</strong></code>
                                <hr>
                            </div>
                            <div class="col-md-6">
                                <code><strong>date:</strong><br>[dd,int]-[mm,int]-[yyyy,int]<br></code>
                                <br>
                                <code><strong>format:</strong><br>d-m-y [case insensitive]<br>m-d-y [case insensitive] </code>
                            </div>
                            <div class="col-md-6">
                                <code><strong>date:</strong><br>[yyyy,int]-[dd,int]-[mm,int]<br></code>
                                <br>
                                <code><strong>format:</strong><br>y-m-d [case insensitive]<br>y-d-m [case insensitive] </code>
                            </div>
                        </div>
                        <hr>
                        <h2>
                            FCC Request Header Parser Microservice
                        </h2>
                        <h3>
                            Endpoints:
                        </h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <code><strong>/api/whoami</strong></code>
                                <hr>
                            </div>
                            <div class="col-md-12">
                                Returns information about client
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
